.background {
    background-image: url("../aiden-marples-3052.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}
.artistTitle {
display: flex;
justify-content: center;
	align-items: center;
color: white;

}
.albumName{
    display: flex;
justify-content: center;
	align-items: center;
    color:white;
}
.albumInput{
    position: absolute;
    top:20px;
    right: 10px;
}
.artistInput{
    position: absolute;
    top:20px;
    right: 10px;

}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu{
    position: absolute;
    color: #0981DA;

}
.caption{
    // position: absolute;
    // bottom:0px;
    // display: flex;
}
.big-box{
    position: absolute;
    bottom: 345px;
    width: 300px;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 60px;
    color: white;

}
.text1{
     flex: display;
    position: absolute;
    justify-content: center;
	align-items: center;
    width: 484px;
    height: 80px;
    font-size: 36px;
}
.small-box {
    position: absolute;
    bottom:215px;
    width: 208px;
    height: 80px;
    font-size: 30px;
    margin-right: 50px;
    margin-left: 166px;
    color: white;
}
.text2{
    flex: display;
    position: absolute;
    justify-content: center;
	align-items: center;
    width: 335px;
    height:58.82px
}
.bottom-buttons{
    // display: flex;
    // justify-content: flex-end;
    margin-top: 10px;
    width:40px;
    // position: absolute;
    // margin-left: 1010px;
//    justify-content: space-around;
	// align-items: center;
}

.sign{
       border-radius:8px;
        width:100px;
        color:whitesmoke;
        margin-right: 30px;
        background-color: black;
        height: 30px;
}    

.log {
   
        border-radius:8px;
        width:100px;
        color:whitesmoke;
        margin-right: 30px;
        background-color:black;
        height: 30px;
}