.background {
    background-image: url("../aiden-marples-3052.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    flex: display;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.caption{
    position: absolute;
    bottom:0px;
    display: flex;
}
.big-box{
    position: absolute;
    bottom: 395px;
    width: 300px;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 50px;
    color: white;

}
.text1{
     flex: display;
    position: absolute;
    justify-content: center;
	align-items: center;
    width: 484px;
    height: 80px;
    font-size: 36px;
}
.small-box {
    position: absolute;
    bottom:265px;
    width: 208px;
    height: 80px;
    font-size: 30px;
    margin-right: 50px;
    margin-left: 136px;
    color: white;
}
.text2{
    flex: display;
    position: absolute;
    justify-content: center;
	align-items: center;
    width: 335px;
    height:58.82px
}
.bottom-buttons{
   
    display: flex;
    position: absolute;
    bottom:648px;
   margin-left: 754px;
   justify-content: space-around;
	align-items: center;
}

.sign {
       border-radius:8px;
        width:100px;
        color:whitesmoke;
        margin-right: 50px;
        background-color: black;
        height: 30px;
}    
.log{
        border-radius:8px;
        width:100px;
        color:whitesmoke;
        margin-right: 50px;
        background-color:black;
        height: 30px;
}